## Import Libraries

In [5]:
import pandas as pd

## Initial EDA

In [6]:
df = pd.read_csv('../data/augmented_data/2015_Green_Taxi_Trip_Data_100_lines.csv')
df.head()

,vendorid,pickup_datetime,dropoff_datetime,Store_and_fwd_flag,rate_code,Pickup_longitude,Pickup_latitude,Dropoff_longitude,Dropoff_latitude,Passenger_count,...,Fare_amount,Extra,MTA_tax,Tip_amount,Tolls_amount,Ehail_fee,Improvement_surcharge,Total_amount,Payment_type,Trip_type
0,2,11/26/2015 10:17:39 PM,11/26/2015 10:21:03 PM,N,1,-73.874527,40.734894,-73.876930,40.726864,6,...,5.0,0.5,0.5,0.00,0.0,NaN,0.3,6.30,2,1
1,2,03/15/2015 03:53:59 AM,03/15/2015 03:56:12 AM,N,1,-73.952957,40.722233,-73.942513,40.724552,1,...,4.0,0.5,0.5,1.06,0.0,NaN,0.3,6.36,1,1
2,1,09/12/2015 01:58:20 AM,09/12/2015 02:04:27 AM,N,1,-73.951706,40.714939,-73.961876,40.713142,2,...,6.5,0.5,0.5,1.55,0.0,NaN,0.3,9.35,1,1
3,2,05/08/2015 11:57:51 PM,05/09/2015 12:10:02 AM,N,1,-73.963242,40.714340,-73.960686,40.691933,1,...,10.5,0.5,0.5,0.00,0.0,NaN,0.3,11.80,2,1
4,2,03/25/2015 06:13:17 PM,03/25/2015 06:23:53 PM,N,1,-73.807312,40.700317,-73.795982,40.678196,1,...,9.0,1.0,0.5,2.16,0.0,NaN,0.3,12.96,1,1

OK, lets have a look at the columns and see what information is valuable.

**vendorID** 
* Code to indicate the LPEP provider that provided the record
* Probably not useful

**pickup_datetime**
* The date and time the meter was engaged
* Definitely useful

**dropoff_date**
* The date and time the meter was disengaged
* Same as above, definitely useful

**Store_and_fwd_flag**
* This flag indicates whether the trip record was held in vehicle memory before sending to the vendor, aka “store and forward,” because the vehicle did not have a connection to the server. 
* Doesn't appear too useful, might be interesting if dug into a bit more

**rate_code**
* The final rate code in effect at the end of the trip.  1= Standard rate 2=JFK 3=Newark 4=Nassau or Westchester 5=Negotiated fare 6=Group ride 
* Not really sure what that is, need to look into it further

**Pickup_longitude, Pickup_latitude, Dropoff_longitude, Dropoff_latitude**
* Location information
* Map these to the NYC burroughs 

**Passenger_count**
* How many passengers too the trip

**Fare_amount, Extra, MTA_tax, Tip_amount, Tolls_amount, Improvement_surcharge, Total_amount**
* Cost of the trip

**Payment Type**
* A numeric code signifying how the passenger paid for the trip.  1= Credit card 2= Cash 3= No charge 4= Dispute 5= Unknown 6= Voided trip

**Trip Type**
* A code indicating whether the trip was a street-hail or a dispatch that is automatically assigned based on the metered rate in use but can be altered by the driver.   1= Street-hail 2= Dispatch

### List of potential questions to explore
* Idea based off the Store_and_fwd_flag - Do better connected taxi's make more money?
* Can a model be built to look at taxi flows in the city? 
    * TODO: 
    * Map the lat/long info to the respective NYC burroughs
    * Model the pickup/drop off locations
    * Can this model predict what burrough the taxi driver should go to next?
* How does passenger numbers effect fares? What burroughs have largest proportion of large passenger numbers?